ul.tab {
	text-align: center;
	list-style-type: none;
	margin: 10px auto 0;
	padding: 0;
	overflow: hidden;
}
/* Float the list items side by side */
ul.tab li {
	float: center;
	display: inline-block;
}
/* Style the links inside the list items */
ul.tab li a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 1.5em;
}
/* Change background color of links on hover */
ul.tab li a:hover {
	background-color: #a7def9;
	border-radius: 10px;
}
/* Create an active/current tablink class */
ul.tab li a:focus, .active {
	background-color: #42C2F4;
	border-radius: 7px;
}